/* Variables */
:root {
  --baseColor: #e64b3b;
}

/* For the hiragana chart */
.hiragana-card {
  position: relative;
  background-color: var(--baseColor);
  border-radius: 12px;
  padding: 16px;
  margin: 4px 4px 24px 4px;
  color: white;
  font-size: 26px;
}
.hiragana-card a:hover {
  font-weight: bold;
  cursor: pointer;
}
.hiragana-column .fa-volume-up {
  position: absolute;
  top: 8px;
  right: 4px;
  font-size: 8px;
  color: white;
}
.hiragana-column .fa-pencil-alt {
  position: absolute;
  bottom: -24px;
  left: 0;
  font-size: 12px;
  color: white;
  background-color: black;
  padding: 4px 22px;
  border-radius: 12px;
}
.fa-pencil-alt:hover {
  background-color: rgb(29, 28, 28);
}
/* For the hiragana stroke order */
.hiragana-stroke {
  height: 350px;
  background-color: #e64b3b;
  border-radius: 12px;
  margin: 12px 0;
}
@media (min-width: 960px) {
  .column-grid {
  display: flex;
}
}
@media (max-width: 900px) {
  .hiragana-stroke {
    height: 250px;
  }
}
@media (max-width: 960px) {
  .column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0 auto;
  }
  .hiragana-column {
    margin-bottom: 30px;
  }
}
@media (max-width: 790px) {
  .column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0 auto;
  }
  .hiragana-column {
    margin-bottom: 30px;
  }
}
@media (max-width: 590px) {
  .column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0 auto;
  }
  .hiragana-column {
    margin-bottom: 30px;
  }
}
